@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a202c;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.input,
.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #4a5568;
  background: #4a5568;
  color: white;
  outline: none;
}

.button:disabled {
  background: #718096;
}

.error {
  color: #e53e3e;
}

.scrollbar-hide {
  overflow: scroll;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}